{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendar</h1>
      <p>Event Calendar</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events" style="max-height: 700px; overflow-y: auto;">
                    <h4 class="mb-4">Running Events</h4>
                        {% for event in events_month %}
                        <div class="fc-event" id="event-{{ event.id }}" data-special-code="{{ event.special_event_code }}" title="{{ event.title }}" description="{{ event.description }}">
                            <h3>{{ event.title }}</h3>
                            <p>From: {{ event.start_time }}</p>
                            <p>To: {{ event.end_time }}</p>
                        </div>
                        {% empty %}
                        <p>No Running Events Found</p>
                        {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

            <!-- pop-up for clicking a created event-->
            <div class="modal fade show" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="modalTitle"></h5>
                            <button id="loadModalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label" id="modalDescription"></label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'calendarapp:trigger_auto_events' %}" class="btn btn-secondary">Generate Auto Events</a>
                            </div>
                    </div>
                </div>
            </div>


            <!-- pop-up for creating a calendar event-->
            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Event Title:</label>
                                    {{ form.title }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Description:</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Start Date:</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">End Date:</label>
                                    {{ form.end_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{% url 'calendarapp:trigger_auto_events' %}" class="btn btn-secondary">Generate Auto Events</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
  <script src="{% static 'calender/main.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
          },
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            console.log('clicked')
            var modal = document.getElementById('eventModal')
            modal.style.display = 'block'
            calendar.unselect()
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

          // bangladesh Holidays
          // events: 'bn.bd#holiday@group.v.calendar.google.com',
          eventClick: function(arg) {
            console.log("Event object:", arg.event);  // Log the event object
            if (confirm('Are you sure you want to delete this event?')) {
                $.ajax({
                    url: `/delete_event/${arg.event.id}/`,  // Make sure the event id is correctly mapped
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'event_id': arg.event.id,
                    },
                    success: function(response) {
                        arg.event.remove();
                    },
                    error: function(response) {
                        alert("There was an error. Event not deleted. EVENT: " + arg.event + " RESPONSE: " + response.responseText);
                    }
                });
            }
        },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ events|safe }},
          // events: [
          //   {
          //     title: 'All Day Event',
          //     start: '2021-06-26'
          //   },
          //   {
          //     groupId: 999,
          //     title: 'Repeating Event',
          //     start: '2020-09-16T16:00:00'
          //   },
          //   {
          //     title: 'Conference',
          //     start: '2020-09-11',
          //     end: '2020-09-13'
          //   },
          //   {
          //     title: 'Click for Google',
          //     url: 'http://google.com/',
          //     start: '2020-09-28'
          //   }
          // ]
        });

        calendar.render();

        function loadEvent(eventTitle, eventDescription) {
            var modal = document.getElementById('loadModal')
            var modalTitle = document.getElementById('modalTitle');
            modalTitle.textContent = eventTitle

            var modalDescription = document.getElementById('modalDescription');
            modalDescription.textContent = eventDescription
            
            modal.style.display = 'block'
            calendar.unselect()
          }
        
        {% for event in events_month%}
          document.getElementById('event-{{ event.id }}').addEventListener('click', function() {
              var eventTitle = "{{event.title}}";
              var eventDescription = "{{event.description}}";
              var specialCode = {{ event.special_event_code }};
              loadEvent(eventTitle, eventDescription);
              switch (specialCode) {
                case 0:
                    // Your logic for specialCode general tasks
                    break;
                case 1:
                    // Your logic for specialCode OPT
                    break;
                case 2:
                    // Your logic for specialCode Job Interview
                    break;
                case 3:
                    // Your logic for specialCode Networking
                    break;
                case 4:
                    // Your logic for specialCode Job Finding
                    break;
                default:
                    // Your logic for an undefined or different specialCode
                    alert('Special Code is undefined or not in the range of 0-3');
                    break;
            }
          });
        {% endfor %}
      });
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');

      const closeBtn3 = document.getElementById('loadModalClose1');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn3.addEventListener('click',()=>{
        const loadModal = document.getElementById('loadModal')
        loadModal.style.display = 'none';
      });
  </script>
{% endblock extrascripts %}
