<!DOCTYPE html>
<html lang="en">
	{% load static %}
    <head>
        <title>User Questionare | Path Mate</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/frontpage3.css' %}" />
    </head>
    <body>

        <section>
            <ul>
          
              </ul>
              <div class="hero">
                <video autoplay loop muted playsinline class="back-video">
                    <source src="{% static 'images/video (2160p).mp4' %}" type="video/mp4">
                </video>
                  <div class="content">
                  <h1>Path Mate</h1>
                  <a href="{% url 'accounts:signin' %}" class="hero-btn">Sign In</a>
                  <a href="{% url 'accounts:signup' %}" class="hero-btn">Sign Up</a>
                </div>
              </div>
        </section>

        <section class="pilars">
            <h1>AI-driven calender generetor</h1>
            <p>Your AI-driven personal goal planner,turning aspirations into actionable steps.</p>
        </section>
        
        <div class="image-container-ChatRespond">
            <img src="{% static 'images/What.jpeg' %}" alt="prompt">
            <img src="{% static 'images/LearnPython.jpeg' %}" alt="CHATGPTrespond">
        </div>

        <section style="background-color: whitesmoke;"  class="pilars">
            <h2 ><br><br>  "Path Mate guides you to your dream internship or job by mapping out a strategic career path on your calendar <br><br><br><br></h2>
        </section>
      
        <div class="image-container-ChatRespond">
            <img src="{% static 'images/CareerPath.jpeg' %}" alt="prompt">
            <img src="{% static 'images/CarePathMate.jpeg' %}" alt="CHATGPTrespond">
        </div>

        <section   class="pilars">
            <h1>Built With</h1>
            <p>Path Mate was meticulously crafted using cutting-edge technologies, including Python, Django, and MindsDB, ensuring a robust and intelligent platform</p>
        </section>

        <div class="image-container-ChatRespond2">
            <img src="{% static 'images/Python-logo-notext.svg.png' %}" alt="prompt">
            <img src="{% static 'images/django-logo-positive.png' %}" alt="CHATGPTrespond">
            <img src="{% static 'images/Mindsdb.png' %}" alt="CHATGPTrespond">
        </div>

        <div class="image-container-ChatRespond3">
            <img src="{% static 'images/Screenshot 2023-09-17 071405.png' %}" alt="prompt">
        </div>

        <section  style="background-color: whitesmoke;" class="pilars">
            <h1>Why we Build it ?</h1>
            <p>International students face added barriers in life after college</p>
            <img src="{% static 'images/Graph.png' %}" alt="CHATGPTrespond">
        </section>



        

        {% include 'base/js.html' %}
    </body>
</html>