<!DOCTYPE html>
<html lang="en">
	{% load static %}
    <head>
        <title>User Questionare | Path Mate</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />

    




    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrap d-md-flex">
                            <div class="text-wrap p-4 p-lg-5 d-flex img" style="background-image: url({% static 'images/bg.jpg' %});">
                                <div class="text w-100">
                                    <h2 class="mb-4">Welcome to Path Mate</h2>
                                    <p>Get the most personalized Path Mate experience by providing specific details about your goal, including target dates, milestones, resources, preferred working times, and motivation.</p>
                                </div>
                            </div>
                            <div class="login-wrap p-4 p-md-5">
                                <div class="row justify-content-center py-md-5">
                                    <div class="col-lg-9">
                                        <form action="#" method="post" class="signup-form">
                                            {% csrf_token %}
                                            <div class="row">


                                               <!--User Name-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Name</label>
                                                    <div class="form-group">
                                                        <input type="text" style="border: none; background-color:#f8f4f4;" name="User_Name">
                                                    </div>
                                                    </div>
                                                </div>



                                                 <!--Age-->
                                                 <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Age</label>
                                                    <div class="form-group">
                                                        <input type="text" style="border: none; background-color:#f8f4f4;" name="User_Age">
                                                    </div>
                                                    </div>
                                                </div>                                               

                                                <!--Country -->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Country</label>
                                                    <div class="form-group">
                                                        <input type="text" style="border: none; background-color:#f8f4f4;" name="User_Country">
                                                    </div>
                                                    </div>
                                                </div>       

                                                <!--Most Recent Job Optional Field-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Most Recent Job position / Student</label>
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Optional"  style="border: none; background-color:#f8f4f4;" name="Job">
                                                    </div>
                                                    </div>
                                                </div>

                                                <!--Univeristy Major-->
                                                <div class="col-md-11">
                                                    <div class="form-group">
                                                    <label >Pursuing degree</label>
                                                    <div class="form-group">
                                                        <input type="text" style="border: none; background-color:#f8f4f4;" name="User_Major">
                                                    </div>
                                                    </div>
                                                </div>

                                                <!--Graduation date-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Graduation date (expected)  </label>
                                                    <div class="form-group">
                                                        <input type="date"placeholder="YYYY-MM-DD" style="border: none; background-color:#f8f4f4;" name="User_GraduationDate">
                                                    </div>
                                                    </div>
                                                </div>

                                                
                                                <!--Level of Study-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Level of Study </label>
                                                    <div class="form-group">
                                                        <input type="text" style="border: none; background-color:#f8f4f4;" name="Level_Study">
                                                    </div>
                                                    </div>
                                                </div>

                                                                                                
                                                <!--Current Residency -->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Nearest Major City </label>
                                                    <div class="form-group">
                                                        <input type="text" style="border: none; background-color:#f8f4f4;" name="Location">
                                                    </div>
                                                    </div>
                                                </div>


                                                <!--Goals-->
                                                 <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Goal</label>
                                                    <div class="form-group">
                                                        <input type="text"placeholder="Be as descrpetive as possible" style="border: none; background-color: #f8f4f4; width: 100%;" wrap="soft" name="Goals">
                                                    </div>
                                                    </div>
                                                </div>

                                                <!--Goal Deadline-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Goal Dead line </label>
                                                    <div class="form-group">
                                                        <input type="date" placeholder="YYYY-MM-DD" style="border: none; background-color:#f8f4f4;" name="Goal_Deadline">
                                                    </div>
                                                    </div>
                                                </div>

                                                
                                                <!--User Time Availabilty  -->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Time available for goal</label>
                                                    <div class="form-group">
                                                        <input type="time"  style="border: none; background-color:#f8f4f4;" name="User_Availabilty">
                                                    </div>
                                                    </div>
                                                </div>


                                                <!--Skill Sete-->                                          
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Skill Set </label>
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Related to the Goal" style="border: none; background-color:#f8f4f4;" name="Skill_Set">
                                                    </div>
                                                    </div>
                                                </div>

          
                                                
                                                 <!--Need Visa SponsosrShip-->
                                                 <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label >Student Under F-1 Visa</label>
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Related to the Goal" style="border: none; background-color:#f8f4f4;" name="Needs_Visa_Sponsorship">
                                                    </div>
                                                    </div>
                                                </div>

                                    

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button type="submit" name="save" value="save" class="btn btn-primary">Get to the Calender</button>
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="w-100">
                                                <p class="mt-4">I'm already a member! <a href="{% url 'accounts:signin' %}">Sign In</a></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'base/js.html' %}
    </body>
</html>